*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, serif;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
nav{
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.nav-menu{
    display: flex;
}
.nav-item{
    padding-left: 10px;
}
.nav-link:hover{
    color: orange;
}
.nav-link{
    color: #b1adad;
    text-transform: uppercase;
}
.logo{
    color: orange;
    text-transform: uppercase;
}
.toggle-icon{
    display: none;
    cursor: pointer;
}
.bar{
    width: 18px;
    height: 2px;
    margin: 4px auto;
    background-color: #b1adad;
    display: block;
}
i{
    font-size: 14px;
}
section{
    /* height: 100vh; */
    width: 100%;  
    padding-top: 65px;  
}
section:nth-child(even){
    background-color: #444;
}
section:nth-child(odd){
    background-color: #333;
}
.home{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #b1adad;    
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1)), url(/images/1199px-USAF_photographer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
.home h2{
    font-size: 40px;    
}
.home h1{
    font-size: 60px ;
}
.about{
    height: 100%;
}
.page-title{
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 16px;
}
.about .page-title,
.gallery .page-title,
.contact .page-title{
    color: #9e9c9c;
}
.home h1 span,
.about .page-title span,
.about-right span,
.gallery span,
.contact h1 span{
    color: orange;
}
.about{
    height: 100%;
}
.about-wrapper{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 40px;
    padding-bottom: 40px;
}
.about-left, .about-right{
    width: 50%;
}
.about-left img{
    width: 100%;
    display: flex;
    height: auto;
    object-fit: cover;
    border-radius: 6px;    
}
.about-right{    
    color: #b1adad;
}
.about-right h1{
    padding-bottom: 10px;
    font-size: 40px;
    letter-spacing: 4px;
}
.about-right p{
    padding-right: 40px;
}
.gallery{
    height: 100%;
}
.image-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0 40px;
}
.image-gallery img{
    padding: 10px;
    border-radius: 16px;
    filter: grayscale(100%);
}
.image-gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}
.contact{
    height: 100%;
    padding-bottom: 20px;
}
.contact_container{
    width: 40%;
    background-color: #eee;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, .7);
    position: relative;
    margin-bottom: 100px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}
.header h2{
    text-transform: uppercase;
    padding: 10px 0;
}
.row{
    display: flex;
	flex-flow: wrap;
	margin: 0 -15px;
    /* border: 1px solid red; */
    /* padding-bottom: 10px; */
    padding-left: 10px;
    padding-right: 10px;
}
.column{
    flex: 0 0 100%;
    /* border: 1px solid green; */
    /* padding: 0 20px 20px 20px; */
    padding: 4px;
}
.column.email{
    flex: 0 0 60%;
}
.column.phone{
    flex: 0 0 40%;
}
.column input{
    padding: 6px;
}
.column input, textarea{
    width: 100%;
    border-radius: 3px;
}
.column textarea{
    height: 150px;
    resize: none;
    padding: 6px;
}
.column input[type=submit]{
    margin: 10px 0;
    font-weight: 500;
    letter-spacing: 2px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
    background-color: #555;
    color: #fff;
    padding: 10px 0;
}
.column input[type=submit]:hover{
    background-color: orange;
}

@media(max-width: 1024px){
    .about-wrapper{
        flex-direction: column;
        width: 90%;
        gap:0;
    }
    .about-left, .about-right{
        width: 100%;
        margin: 10px 0;
        padding-bottom: 20px;
    }
    .about-left {
        width: 100%;
    }
}

@media(max-width: 768px){
    .toggle-icon{
        display: block;
        /* padding-right: 40px; */
    }
    .toggle-icon.active .bar:nth-child(2){
        opacity: 0;
    }
    .toggle-icon.active .bar:nth-child(1){
        transform: translateY(6px) rotate(45deg);
    }
    .toggle-icon.active .bar:nth-child(3){
        transform: translateY(-6px) rotate(-45deg);
    }
    .nav-menu{
        display: block;
        position: absolute;
        background-color: #222;
        left: 1200px;
        top: 52px;
        width: 100%;
        -webkit-transition: 1s all ease;
        transition: 1s all ease;
    }
    .nav-item{
        border-top: 1px solid #ccc;
        padding-left: 20px;
    }
    .nav-item:nth-last-child(1){        
        border-bottom: 1px solid #ccc;
    }
    .nav-link{
        display: block;
        width: 100%;
        padding: 10px 0;
    }
   .nav-menu.active{
        display: block;
        left: 0;
   }
   .contact_container{
        width: 90%;
   }    
}

@media(max-width: 540px){
    .toggle-icon{
        /* padding-right: 10px; */
    }    
}

@media(max-width: 414px){
    
    /* .btn-container button{
        width: 100px;
        margin: 10px 0;
    } */
    .column.email, .column.phone{
        flex: 0 0 100%;
    }
    /* form{
        padding: 0 20px;
    } */
}

@media(max-width: 360px){
    .btn-container{
        /* margin: 10px 0 10px 30px; */
    }
    /* .btn-container button{    
        display: block;
        font-size: 12px;
    } */
}